@page "/product/create"
@page "/product/update/{ProductId:int}"

@using System.Globalization;
@using ViewModels.Static;

<EditForm Model="_model" OnValidSubmit="OnValidSubmit" OnInvalidSubmit="ValidateInnerForm">
    <DataAnnotationsValidator />
    <MudGrid Class="ma-2 pa-2">
        <MudItem xs="6">
            <MudTextField @bind-Value="_model.Name" For="@(() => _model.Name)" Label="Name" Variant="Variant.Outlined"></MudTextField>
            <MudTextField @bind-Value="_model.ShortName" For="@(() => _model.ShortName)" Label="Short Name" Variant="Variant.Outlined"></MudTextField>
            <MudTextField @bind-Value="_model.Discount" For="@(() => _model.Discount)" Label="Discount" Variant="Variant.Outlined" Adornment="Adornment.End" AdornmentText="%"></MudTextField>
            <MudTextField @bind-Value="_model.InStock" For="@(() => _model.InStock)" Label="In Stock" Variant="Variant.Outlined"></MudTextField>
            <MudTextField @bind-Value="_model.Sold" For="@(() => _model.Sold)" Label="Sold" Variant="Variant.Outlined"></MudTextField>
            <MudSelect @bind-Value="_model.CategoryId" For="() => _model.CategoryId" T="int?" Label="Category" Variant="Variant.Outlined" AnchorOrigin="Origin.BottomCenter" Required="true">
                @if (Categories is not null)
                {
                    foreach (var category in Categories)
                    {
                        <MudSelectItem T="int?" Value="category.Id">@category.Name</MudSelectItem>
                    }
                }
            </MudSelect>
            <MudDivider Class="ma-4" DividerType="DividerType.Inset" />
            <EditForm Model="_price" OnValidSubmit="AddPriceToProduct" Context="price">
                <DataAnnotationsValidator />
            <MudSimpleTable Style="overflow-x: auto;" Outlined="true">
                <thead>
                    <tr>
                        <th>Price</th>
                        <th>Currency</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var price in _model.Prices)
                    {
                        <tr>
                            <td>@price.Value</td>
                            <td>@Currencies.First(c => c.Id == price.CurrencyId).ISO4217</td>
                            <td>
                                <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Delete" Color="Color.Error" OnClick="() => RemovePriceFromProduct(price)" />
                            </td>
                        </tr>
                    }
                    <tr>
                        <td>
                            <MudTextField @bind-Value="@_price.Value" For="() => _price.Value" Label="Price" Variant="Variant.Text" Format="F2" Culture="@CultureInfo.InvariantCulture" Required="true"></MudTextField>
                        </td>
                        <td>
                            @if (Currencies is not null)
                            {
                                <MudSelect @bind-Value="@_price.CurrencyId" For="() => _price.CurrencyId" T="int?" Label="Currency" Variant="Variant.Text" AnchorOrigin="Origin.BottomCenter" Required="true">
                                    @foreach (var currency in Currencies)
                                    {
                                        <MudSelectItem T="int?" Value="@currency.Id">
                                            @currency.ISO4217
                                        </MudSelectItem>
                                    }
                                </MudSelect>
                            }
                        </td>
                        <td>
                            <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Add" Color="Color.Info" ButtonType="ButtonType.Submit" />
                        </td>
                    </tr>
                </tbody>
            </MudSimpleTable>
            </EditForm>
                <MudText Color="@Color.Error" Typo="Typo.body2" Class="pa-2">
                    <ValidationMessage For="@(() => _model.Prices)"/>
                </MudText>
        </MudItem>
        <MudItem xs="6">
            <MudSelect @bind-Value="@_model.SelectedSpecification" T="string" For="@(() => _model.SelectedSpecification)" Label="Specifications Type" Variant="Variant.Text" AnchorOrigin="Origin.BottomCenter" Required="true">
                @foreach (var specification in _model.Specifications)
                {
                    <MudSelectItem T="string" Value="@specification">
                        @specification
                    </MudSelectItem>
                }
            </MudSelect>
            @if (_model.SelectedSpecification is not null)
            {
                <ProductAttributes Specification="@_model.SelectedSpecification" @ref="_productAttributes" />
            }
        </MudItem>
        <MudItem xs="12">
            <InputFile id="fileInput" OnChange="UploadFiles" hidden multiple accept=".jpg,.jpeg,.png,.tiff,.tif,.bmp" />

            <div class="d-flex align-center flex-grow-1 gap-2">
            <MudButton HtmlTag="label"
                       Variant="Variant.Filled"
                       Color="Color.Primary"
                       StartIcon="@Icons.Filled.CloudUpload"
                       Class="my-4"
                       for="fileInput">
                Upload Files
            </MudButton>
            <MudText>(Max 5MB)</MudText>
            </div>
            @if (_files is not null)
            {
            <MudGrid>
                @foreach (var file in _files)
                {
                    <MudItem xs="3" Style="display:flex;">
                        <MudStack Justify="Justify.SpaceBetween">
                            <MudTooltip Placement="Placement.Top" Inline="true" Text="Set as main image">
                                    <MudBadge Overlap="true" Class="mx-6 my-4" Color="@(file.ImageForCreationVM.MainImage ? Color.Success : Color.Transparent)" Icon="@(file.ImageForCreationVM.MainImage ? Icons.Filled.CheckBox : Icons.Filled.CheckBoxOutlineBlank)">
                                        <MudImage Src="@file.ImageForCreationVM.ImageDataUrl" Alt="@(file.File == null ? "" : file.File.Name)" ObjectFit="ObjectFit.ScaleDown" Fluid="true" @onclick="() => SetAsMain(file.ImageForCreationVM)" Style="cursor:pointer" />
                                </MudBadge>
                            </MudTooltip>
                                <MudIconButton Icon="@Icons.Material.Filled.Delete" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Small" OnClick="() => RemoveImage(file)" />
                        </MudStack>
                    </MudItem>
                }
            </MudGrid>
            }
        </MudItem>
        <MudText Color="@Color.Error" Typo="Typo.body2" Class="px-4">
            <ValidationMessage For="@(() => _model.Images)" />
        </MudText>        <MudItem xs="12">
            <MudButton Class="my-2 mr-2" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.ArrowBack" IconColor="Color.Info" Size="Size.Large" OnClick='() => NavigationManager.NavigateTo("/product")'>Cancel</MudButton>
            <MudButton Class="ma-2" OnClick="ValidateInnerForm" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Save" IconColor="Color.Success" Size="Size.Large" ButtonType="ButtonType.Submit">Save</MudButton>
        </MudItem>
    </MudGrid>
</EditForm>


@code {
    PriceForCreationVM _price = new();
    ProductAttributes.ProductAttributes? _productAttributes;
    ProductForCreationVM _model = new();
    List<UploadedFIleVM> _files = new ();
    bool _isAttributesSet = false;

    [Parameter]
    public int? ProductId { get; set; }
    [Inject]
    IApiService ApiService { get; set; } = null!;
    [Inject]
    NavigationManager NavigationManager { get; set; } = null!;
    List<CategoryVM> Categories { get; set; } = null!;
    IEnumerable<CurrencyVM> Currencies = new List<CurrencyVM>();


    protected override async Task OnInitializedAsync()
    {
        if (ProductId is not null)
        {
            _model = await ApiService.GetProductForUpdate((int)ProductId);

            foreach (var image in _model.Images)
            {
                _files.Add(new UploadedFIleVM { File = null, ImageForCreationVM = image });
            }
        }

        Categories = await ApiService.GetCategories();
        Currencies = await ApiService.GetCurrencies();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (_productAttributes is not null && !_isAttributesSet && _model.SelectedSpecification is not null && _model.Attributes is not null)
        {
            _productAttributes.SetAttributes(_model.SelectedSpecification, _model.Attributes);
            _isAttributesSet = true;
            StateHasChanged();
        }

    }

    async Task UploadFiles(InputFileChangeEventArgs e)
    {
        foreach (var file in e.GetMultipleFiles())
        {
            IBrowserFile convertedFile = await file.RequestImageFileAsync(file.ContentType, 600, 600);

            _files.Add(new UploadedFIleVM 
                {
                    File = convertedFile, 
                    ImageForCreationVM = new ImageForCreationVM 
                    { 
                        ImageDataUrl = await convertedFile.ToImageDataURL(), FileExtension = Path.GetExtension(convertedFile.Name) 
                    }
                });
        }

        _model.Images = _files.Select(f => f.ImageForCreationVM).ToList();
    }

    void AddPriceToProduct()
    {
        _model.Prices.Add(_price);
        _price = new();
    }

    void RemovePriceFromProduct(PriceForCreationVM price)
    {
        _model.Prices.Remove(price);
    }

    void RemoveImage(UploadedFIleVM file)
    {
        _model.Images.Remove(file.ImageForCreationVM);
        _files.Remove(file);
    }

    async Task OnValidSubmit()
    {
        if (ProductId is null)
            await ApiService.AddProduct(_model);

        else
            await ApiService.UpdateProduct(_model);
    }


    void SetAsMain(ImageForCreationVM image)
    { 
        foreach (var file in _files)
        {
            file.ImageForCreationVM.MainImage = false;
        }

        image.MainImage = true;
    }

    void ValidateInnerForm()
    {
        _model.IsFormValid = _productAttributes?.Validate() ?? false;
        _model.Attributes = _productAttributes?.Attributes;
    }
}