@page "/products/{Keywords}/{CategoryId:int?}"
@page "/products/{CategoryId:int?}"
@page "/products"

<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<div class="col-md-12">
				<ul class="breadcrumb-tree">
					<li><a href="#">Home</a></li>
					<li><a href="#">All Categories</a></li>
					<li><a href="#">Accessories</a></li>
					<li class="active">Headphones (227,490 Results)</li>
				</ul>
			</div>
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /BREADCRUMB -->
<!-- SECTION -->
<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<!-- ASIDE -->
			<div id="aside" class="col-md-3">
				<!-- aside Widget -->
				<div class="aside">
					<h3 class="aside-title">Categories</h3>
					<div class="checkbox-filter">
						@if (ProductsList is not null)
						{
							foreach (var kvp in ProductsList.MetaData.CategoryCount)
							{
								<div class="input-checkbox">
									<input type="checkbox" id="category-@kvp.Key" checked="@(kvp.Key == ProductParameters.Filter.CategoryId)">
									<label for="category-@kvp.Key">
										<span></span>
										@Categories.First(c => c.Id == kvp.Key).Name
										<small>(@kvp.Value)</small>
									</label>
								</div>
							}	
						}
					</div>
				</div>
				<!-- /aside Widget -->
				<!-- aside Widget -->
				<div class="aside">
					<h3 class="aside-title">Price</h3>
					<div class="price-filter">
						<div id="price-slider"></div>
						<div class="input-number price-min">
							<input id="price-min" type="number">
							<span class="qty-up">+</span>
							<span class="qty-down">-</span>
						</div>
						<span>-</span>
						<div class="input-number price-max">
							<input id="price-max" type="number">
							<span class="qty-up">+</span>
							<span class="qty-down">-</span>
						</div>
					</div>
				</div>
				<!-- /aside Widget -->
				<!-- aside Widget -->
				<div class="aside">
					<h3 class="aside-title">Brand</h3>
					<div class="checkbox-filter">
					@if (ProductsList is not null)
					{
						foreach (var kvp in ProductsList.MetaData.ManufacturerCount)
						{
							<div class="input-checkbox">
								<input type="checkbox" id="@kvp.Key">
									<label for="@kvp.Key">
									<span></span>
									@kvp.Key
									<small>(@kvp.Value)</small>
								</label>
							</div>
						}
					}
					</div>
				</div>
				<!-- /aside Widget -->
				<!-- aside Widget -->
				<div class="aside">
					<h3 class="aside-title">Top selling</h3>
					<div class="product-widget">
						<div class="product-img">
							<img src="./img/product01.png" alt="">
						</div>
						<div class="product-body">
							<p class="product-category">Category</p>
							<h3 class="product-name"><a href="#">product name goes here</a></h3>
							<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
						</div>
					</div>

					<div class="product-widget">
						<div class="product-img">
							<img src="./img/product02.png" alt="">
						</div>
						<div class="product-body">
							<p class="product-category">Category</p>
							<h3 class="product-name"><a href="#">product name goes here</a></h3>
							<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
						</div>
					</div>

					<div class="product-widget">
						<div class="product-img">
							<img src="./img/product03.png" alt="">
						</div>
						<div class="product-body">
							<p class="product-category">Category</p>
							<h3 class="product-name"><a href="#">product name goes here</a></h3>
							<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
						</div>
					</div>
				</div>
				<!-- /aside Widget -->
			</div>
			<!-- /ASIDE -->
			<!-- STORE -->
			<div id="store" class="col-md-9">
				<!-- store top filter -->
				<div class="store-filter clearfix">
					<div class="store-sort">
						<label>
							Sort By:
							<select class="input-select">
								<option value="0">Popular</option>
								<option value="1">Position</option>
							</select>
						</label>

						<label>
							Show:
							<select class="input-select">
								<option value="0">20</option>
								<option value="1">50</option>
							</select>
						</label>
					</div>
					<ul class="store-grid">
						<li class="active"><i class="fa fa-th"></i></li>
						<li><a href="#"><i class="fa fa-th-list"></i></a></li>
					</ul>
				</div>
				<!-- /store top filter -->
				<!-- store products -->
				<div class="row">
					<!-- product -->
					@if (ProductsList is not null)
					{
						foreach (var product in ProductsList.Items)
						{
							<ProductCard Product="product" />
						}	
					}
				</div>
				<!-- /store products -->
				<!-- store bottom filter -->
				<div class="store-filter clearfix">
					<span class="store-qty">Showing 20-100 products</span>
					<ul class="store-pagination">
						<li class="active">1</li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#"><i class="fa fa-angle-right"></i></a></li>
					</ul>
				</div>
				<!-- /store bottom filter -->
			</div>
			<!-- /STORE -->
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /SECTION -->


@code {
	ProductParameters ProductParameters { get; set; } = new();
	ProductPagedList<ProductVM> ProductsList { get; set; } = null!;
	List<CategoryVM> Categories { get; set; } = null!;

	[Parameter]
	public string? Keywords { get; set; }
	[Parameter]
	public int? CategoryId { get; set; }
	[Inject]
	IApiService ApiService { get; set; } = null!;

	protected override async Task OnParametersSetAsync()
	{
		ProductParameters.Filter.Keywords = Keywords;
		ProductParameters.Filter.CategoryId = CategoryId;
		ProductsList = await ApiService.GetProducts(ProductParameters);
		Categories = await ApiService.GetCategories();
	}
}
