@switch (StarCount)
{
	case 0:
		<div class="@GenerateCss()">
			<i class="fa fa-star-o"></i>
			<i class="fa fa-star-o"></i>
			<i class="fa fa-star-o"></i>
			<i class="fa fa-star-o"></i>
			<i class="fa fa-star-o"></i>
		</div>
		break;
	case 1:
		<div class="@GenerateCss()">
			<i class="fa fa-star"></i>
			<i class="fa fa-star-o"></i>
			<i class="fa fa-star-o"></i>
			<i class="fa fa-star-o"></i>
			<i class="fa fa-star-o"></i>
		</div>
		break;
	case 2:
		<div class="@GenerateCss()">
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
			<i class="fa fa-star-o"></i>
			<i class="fa fa-star-o"></i>
			<i class="fa fa-star-o"></i>
		</div>
		break;
	case 3:
		<div class="@GenerateCss()">
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
			<i class="fa fa-star-o"></i>
			<i class="fa fa-star-o"></i>
		</div>
		break;
	case 4:
		<div class="@GenerateCss()">
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
			<i class="fa fa-star-o"></i>
		</div>
		break;
	case 5:
		<div class="@GenerateCss()">
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
		</div>
		break;
}

@code {
	[Parameter]
	public int StarCount { get; set; }
	[Parameter]
	public RatingType Type { get; set; }

	string GenerateCss()
	{
		switch (Type)
		{
			case RatingType.Product:
				return "product-rating";
			case RatingType.Review:
				return "review-rating";
			case RatingType.RatingStars:
				return "rating-stars";
			default:
				return "";
		}
	}

}
