<!-- HEADER -->
<header>
	<!-- TOP HEADER -->
	<div id="top-header">
		<div class="container">
			<ul class="header-links pull-left">
				<li><a href="#"><i class="fa fa-phone"></i> +021-95-51-84</a></li>
				<li><a href="#"><i class="fa fa-envelope-o"></i> email@email.com</a></li>
				<li><a href="#"><i class="fa fa-map-marker"></i> 1734 Stonecoal Road</a></li>
			</ul>
			<ul class="header-links pull-right">
				<li class="dropdown">
					<a class="dropdown-toggle" id="currencyDropdown" style="cursor: pointer;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i>@(StaticConfig.Currency is not null ? StaticConfig.Currency.Symbol : "")</i> @(StaticConfig.Currency is not null ? StaticConfig.Currency.ISO4217 : "")</a>
					<ul class="dropdown-menu" aria-labelledby="currencyDropdown" style="background-color: #1E1F29;cursor: pointer;min-width:16px">
						@if (Currencies is not null)
						{
							@foreach (var currency in Currencies)
							{
								<li style="cursor: pointer;" @onclick="async () => await SetCurrency(currency)"><a class="dropdown-item"><i>@currency.Symbol</i> @currency.ISO4217</a></li>
							}
						}
					</ul>
				</li>
				<li><a href="@(UserState.User is not null ? "profile" : "login")"><i class="fa fa-user-o"></i> @(User is not null && User.Identity is not null && User.Identity.IsAuthenticated ? User.Claims.First(c => c.Type.Equals(ClaimTypes.Email)).Value : "Login/Register")</a></li>
			</ul>
		</div>
	</div>
	<!-- /TOP HEADER -->
	<!-- MAIN HEADER -->
	<div id="header">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!-- LOGO -->
				<div class="col-md-3">
					<div class="header-logo">
						<a href="/" class="logo">
							<img src="./img/logo.png" alt="logo">
						</a>
					</div>
				</div>
				<!-- /LOGO -->
				<!-- SEARCH BAR -->
				<div class="col-md-6">
					<div class="header-search">
						<form>
							<select class="input-select">
								<option value="0">All Categories</option>
								<option value="1">Category 01</option>
								<option value="1">Category 02</option>
							</select>
							<input class="input" placeholder="Search here">
							<button class="search-btn">Search</button>
						</form>
					</div>
				</div>
				<!-- /SEARCH BAR -->
				<!-- ACCOUNT -->
				<div class="col-md-3 clearfix">
					<div class="header-ctn">
						<!-- Wishlist -->
						<div>
							<a href="#">
								<i class="fa fa-heart-o"></i>
								<span>Your Wishlist</span>
								<div class="qty">2</div>
							</a>
						</div>
						<!-- /Wishlist -->
						<!-- Cart -->
						<div class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
								<i class="fa fa-shopping-cart"></i>
								<span>Your Cart</span>
								<div class="@(Cart.Products.Count > 0 ? "qty" : "qty hide")">@(Cart.Products.Sum(p => p.Quantity))</div>
							</a>
							<div class="cart-dropdown" @onclick:preventDefault="true" @onclick:stopPropagation="true">
								<div class="cart-list">
									@foreach (var product in Cart.Products)
									{
										<div class="product-widget">
											<div class="product-img">
												<img src="@(ShopConfiguration.ApiImageAddress + product.Product.Images.First(i => i.MainImage).File)" alt="Product Image">
											</div>
											<div class="product-body">
												<h3 class="product-name"><a href="#">@product.Product.ShortName</a></h3>
												<h4 class="product-price"><span class="qty">@(product.Quantity)x</span>@(StaticConfig.Currency is not null ? StaticConfig.Currency.Symbol : "") @product.Product.GetPrice(StaticConfig.Currency).ToPriceString()</h4>
											</div>
											<button class="delete" @onclick="async () => await UserState.RemoveFromCart(product.ProductId)"><i class="fa fa-close"></i></button>
										</div>
									}
								</div>
								<div class="cart-summary">
									<small>@(Cart.Products.Sum(p => p.Quantity)) Item(s) selected</small>
									<h5>SUBTOTAL: @(StaticConfig.Currency is not null ? StaticConfig.Currency.Symbol : "") @Cart.GetCartTotal(StaticConfig.Currency).ToPriceString()</h5>
								</div>
								<div class="cart-btns">
									<a @onclick='() => NavigationManager.NavigateTo("cart")'>View Cart</a>
									<a @onclick='() => NavigationManager.NavigateTo("checkout")'>Checkout  <i class="fa fa-arrow-circle-right"></i></a>
								</div>
							</div>
						</div>
						<!-- /Cart -->
						<!-- Menu Toogle -->
						<div class="menu-toggle">
							<a href="#">
								<i class="fa fa-bars"></i>
								<span>Menu</span>
							</a>
						</div>
						<!-- /Menu Toogle -->
					</div>
				</div>
				<!-- /ACCOUNT -->
			</div>
			<!-- row -->
		</div>
		<!-- container -->
	</div>
	<!-- /MAIN HEADER -->
</header>
<!-- /HEADER -->

@code {
	List<CurrencyVM> Currencies { get; set; } = null!;

	[CascadingParameter]
	public ClaimsPrincipal User { get; set; } = null!;
	CartVM Cart { get; set; } = null!;
	[Inject]
	IJSRuntime JS { get; set; } = null!;
	[Inject]
	UserState UserState { get; set; } = null!;
	[Inject]
	WebShopConfiguration ShopConfiguration { get; set; } = null!;
	[Inject]
	ILocalStorageService LocalStorageService { get; set; } = null!;
	[Inject]
	IApiService ApiService { get; set; } = null!;
	[Inject]
	NavigationManager NavigationManager { get; set; } = null!;


	protected override async Task OnInitializedAsync()
	{
		Cart = UserState.Cart;
		UserState.PropertyChanged += PropertyChanged;
		Currencies = await ApiService.GetCurrencies();
		if (!await LocalStorageService.ContainKeyAsync("Currency"))
		{
			await LocalStorageService.SetItemAsync<CurrencyVM>("Currency",Currencies.First());
		}
		StaticConfig.Currency = await LocalStorageService.GetItemAsync<CurrencyVM>("Currency");
	}

	private void PropertyChanged(object? sender, PropertyChangedEventArgs e)
	{
		Cart = UserState.Cart;
		InvokeAsync(StateHasChanged);
	}

	async Task SetCurrency(CurrencyVM currency)
	{
		StaticConfig.Currency = currency;
		await LocalStorageService.SetItemAsync<CurrencyVM>("Currency", currency);
		NavigationManager.NavigateTo(NavigationManager.Uri, true); // Hard reload is needed to update prices because of jquery
	}
}
